<section class="container">
  <h1><%= title %></h1>

  <% if (comic_list.length > 0) { %>
    <p> Work by <%= author.name %></p>
    <ul>
      <% comic_list.forEach((comic, index) => { %>
        <li><a href="<%= comic.url %>"><%= comic.title %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p> There are no comics associated with this author yet.</p>
  <% } %>
  <p><a href="<%= author.url%>/update">Update</a></p>
  <p><a href="<%= author.url%>/delete">Delete</a></p>
</section>
