<section class="container">
  <h1><strong></strong><%= comic.title %></h1>
  <p><strong>Author: </strong><a href="<%= author.url %>"><%= author.name %></a></p>
  <p><strong>Publisher: </strong><a href="<%= publisher.url %>"><%= publisher.name %></a></p>
  <p><strong>Release date:</strong> <%= comic_release_date %><p>

  <div>
    <% genres.forEach((genre) => { %>
      <div><a href="<%= genre.url %>"><%= genre.name %></a></div>
    <% }) %>
  </div>

  <p><strong>Summary</strong>: <%= comic.summary %></p>

  <% if (volumes.length > 0) { %>
    <div>
      <% volumes.forEach((volume, index) => { %>
        <p>
          <a href="<%= volume.url %>">
            Volume <%= volume.volume_number%> - <%= volume.title%>
          </a>
        </p>
      <% }) %>
    </div>
    <p><a href="<%= comic.url %>/volume/create">Add a new volume</a></p>
  <% } else { %>
    <p>There are no volumes yet! <a href="<%= comic.url %>/volume/create">Add the first volume</a></p>
  <% } %>
  <p><a href="<%= comic.url %>/update">Update</a></p>
  <p><a href="<%= comic.url %>/delete">Delete</a></p>
</section>
