<h1><%= title %></h1>

<% if (comic_list.length > 0) { %>

  <section class="container">
    <% comic_list.forEach(comic => { %>

      <article class="comic">
        <h3 class="comic__title"><a href="<%=comic.url %>"><%= comic.title %></a></h3>
        <p class="comic__summary"><%= comic.summary %></p>
      </article>

     <% }) %>
  </section>

<% } else { %>

  <p>There are no <%= title %></p>

<% } %>



