<h1><%= title%></h1>

<form method="POST">
  <%- include("./partials/required_form_fields_warning") %>
  <div class="form-group">
    <label for="title">* Title: </label>
    <input 
      id="title" 
      class="form-control" 
      type="text" 
      maxLength="100"
      placeholder="e.g.: Naruto, Bakuman, etc." 
      name="title" 
      required 
      value="<%= comic ? comic.title : '' %>" 
      />

    <label for="summary">* Summary: </label>
    <textarea 
      id="summary" 
      class="form-control" 
      required 
      maxLength="200" 
      spellcheck="true" 
      autocorrect="on" 
      rows=10 
      cols=30 
      name="summary" 
      ><%= comic ? comic.summary: '' %></textarea>

    <label for="release_date">Release date:</label>
    <input
      type="date"
      id="release_date"
      class="form-control"
      name="release_date"
      value="<%= comic ? comic.release_date : ''%>"
      required
     />
  </div>
  
  <div class="form-group">
    <% if (!author_list.length) { %>
      <p>There aren't any authors in the system yet.</p>
      <p><a href="/author/create">Add one now!</a></p>      
    <% } else { %>
      <label for="author">* Author: </label>
      <select id="author" class="form-control" name="author">
        <option value="">Choose an author</option>

        <% author_list.forEach(author => { %>
          <option value="<%= author.id %>" <%= 
            selected_author_id && author.id.toString() === selected_author_id.toString() 
            ? 'selected' 
            : '' 
          %> >
            <%= author.name %>
          </option>
        <% }) %>
      </select>
    <% } %>
  </div>

  <div class="form-group">
    <label for="publisher">* Publisher: </label>
    <select id="publisher" class="form-control" name="publisher">
      <option value="">Choose a publisher</option>

      <% publisher_list.forEach(publisher => { %>
        <option value="<%= publisher.id %>" <%= selected_publisher_id && publisher.id.toString() === selected_publisher_id.toString() ? 'selected' : '' %> >
          <%= publisher.name %> - <%= publisher.headquarters %>
        </option>
      <% }) %>
    </select>
  </div>

  
 <div class="form-group">
    <% if (!genre_list.length) { %>
      <p>There aren't any genres in the system yet.</p>
      <p><a href="/genre/create">Add one now!</a></p>      
    <% } else { %>
      <label for="genres">* Genres: </label>
        
      <% genre_list.forEach(genre => { %>
        <div class="grid">
          <input 
            class="checkbox-input" 
            type="checkbox" 
            name="genres" 
            id="<%= genre.id %>" 
            value="<%= genre.id %>" 
            <%= genre.checked ? 'checked' : '' %>
          />
          <label for="<%= genre.id %>">&nbsp;<%= genre.name %> </label>
        </div>
      <% }) %>
    <% } %>
  </div>


  <button class="btn btn-primary" type="submit">Submit</button>

<%- include("./partials/form_error_messages_display")%>
</form>

