<section class="container">
  <h2><%= title %></h2>
  <p><strong>Author:</strong> <a href="<%= comic.author.url %>"><%= comic.author.name %></a></p>
  <p><strong>Publisher:</strong> <a href="<%= comic.publisher.url %>"><%= comic.publisher.name %></a></p>
  <p><strong>Release date:</strong> <%= comic.date_formatted %><p>

  <ul>
    <% comic.genres.forEach((genre, index) => { %>
      <li><%= genre.name %></li>
    <% }) %>
  </ul>

  <p><strong>Summary</strong>: <%= comic.summary %></p>
</section>
