<section class="container">
  <h1><strong>Title: </strong><%= comic.title %></h1>
  <p><strong>Author: </strong><a href="<%= comic.author.url %>"><%= comic.author.name %></a></p>
  <p><strong>Publisher: </strong><a href="<%= comic.publisher.url %>"><%= comic.publisher.name %></a></p>
  <p><strong>Release date:</strong> <%= comic.date_formatted %><p>

  <div>
    <% comic.genres.forEach((genre) => { %>
      <div><a href="<%= genre.url %>"><%= genre.name %></a></div>
    <% }) %>
  </div>

  <p><strong>Summary</strong>: <%= comic.summary %></p>

  <% if (comic.volumes.length > 0) { %>
    <div>
      <% comic.volumes.forEach((volume, index) => { %>
        <p>
          <a href="<%= volume.url %>">
            Volume <%= volume.volume_number%> - <%= volume.title%>
          </a>
        </p>
      <% }) %>
    </div>
    <p><a href="<%= comic.url %>/volume/create">Add a new volume</a></p>
  <% } else { %>
    <p>There are no volumes yet! <a href="<%= comic.url %>/volume/create">Add the first volume</a></p>
  <% } %>
  <p><a href="<%= comic.url %>/update">Update the comic's info</a></p>
</section>
