<article>
  <h1><%= title %></h1>

  <% if (comic_list.length > 0) { %>
    <p>Works in this genre</p>
    <ul>
      <% comic_list.forEach(comic => { %>
        <li><a href="<%= comic.url%>"><%= comic.title%></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>There are no works of this genre yet!</p>
  <% } %>
  <p><a href="<%= genre.url%>/update">Update</a></p>
  <p><a href="<%= genre.url%>/delete">Delete</a></p>
</article>
