<h1><%= title%></h1>

<form method="POST">
  <%- include("./partials/required_form_fields_warning") %>
  <div class="form-group">
    <label for="name">* Publisher's name: </label>
    <input id="name" 
      class="form-control" 
      type="text" 
      maxLength="40" 
      placeholder="Marvel, Shueisha" 
      name="name" 
      required 
      value="<%= publisher ? publisher.name : '' %>" 
      />

    <label for="headquarters">Headquarters: </label>
    <input id="headquarters" 
      class="form-control" 
      type="text" 
      maxLength="40" 
      placeholder="e.g.: Italy, France, etc." 
      name="headquarters" 
      value="<%= publisher ? publisher.headquarters: '' %>" 
      />
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>

<%- include("./partials/form_error_messages_display")%>
</form>

