
<h1><%= title %></h1>

<% if (publisher_list.length > 0) { %>

  <section class="container">
    <% publisher_list.forEach(publisher => { %>
      <article class="publisher">
        <h3 class="publisher__name"><a href="<%=publisher.url %>"><%= publisher.name%></a></h3>
        <p><%= publisher.headquarters%></p>
      </article>
    <% }) %>
  </section>

<% } else { %>

  <p>There are no <%= title %></p>

<% } %>



