<h1><%= volume.title %></h1>
<article>
  <p><strong>Release Date</strong>: <%= volume_release_date%></p>
  <p><strong>Description</strong>: <%= volume.description %></p>
  <p><a href="<%= volume.url %>/delete">Delete</a></p>
  <p><a href="<%= volume.url %>/update">Update</a></p>
  <p><a href="<%= comic.url %>">Go back</a></p>
</article>
