<h1><%= title %></h1>
<article>
  <p><strong>Title</strong>: <%= volume.title %></p>
  <p><strong>Release Date</strong>: <%= volume.date_formatted %></p>
  <p><strong>Description</strong>: <%= volume.description %></p>
  <p><a href="<%= volume.url %>/delete">Delete</a></p>
  <p><a href="<%= comic.url %>">Cancel</a></p>
</article>
