<h1><%= title %></h1>


<form method="POST">
  <%- include("./partials/required_form_fields_warning") %>
  <div class="form-group">
    <label for="volume_number">* Volume number</label>
    <input 
      id="volume_number" 
      class="form-control" 
      type="number" 
      name="volume_number" 
      min="0" 
      required
      value="<%= volume_number ? volume_number : '0'%>"
    />

    <label for="volume_title">* Title</label>
    <input 
      id="volume_title" 
      class="form-control" 
      type="text" 
      name="volume_title" 
      maxLength="100"
      value="<%= volume_title ? volume_title : ''%>"
      placeholder="e.g.: Naruto, Bakuman, etc." 
      required
    />

    <label for="volume_description">* Description</label>
    <textarea
      id="volume_description" 
      class="form-control" 
      name="volume_description" 
      maxLength="200"
      required
    ><%= volume_description ? volume_description : ''%></textarea>
  </div>
  <%- include("./partials/form_error_messages_display")%>
</form>
