<h1><%= title %></h1>


<form method="POST">
  <%- include("./partials/required_form_fields_warning") %>
  <div class="form-group">
    <label for="volume_number">* Volume number</label>
    <input 
      id="volume_number" 
      class="form-control" 
      type="number" 
      name="volume_number" 
      min="0" 
      required
      value="<%= volume ? volume.volume_number : '0'%>"
    />

    <label for="volume_title">* Title</label>
    <input 
      id="volume_title" 
      class="form-control" 
      type="text" 
      name="volume_title" 
      maxLength="100"
      value="<%= volume ? volume.title : ''%>"
      placeholder="e.g.: Naruto, Bakuman, etc." 
      required
    />

    <label for="release_date">* Release date:</label>
    <input
      type="date"
      id="release_date"
      class="form-control"
      name="release_date"
      required
     />

    <label for="volume_description">* Description</label>
    <textarea
      id="volume_description" 
      class="form-control" 
      name="volume_description" 
      cols="24"
      rows="6"
      maxLength="200"
      required
    ><%= volume ? volume.description : ''%></textarea>
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
  <%- include("./partials/form_error_messages_display")%>
</form>
